
<div class="card-container">
  <div class="flex flex-wrap justify-center">
    <div
      class="box hover:scale-105 transition-all duration-500 cursor-pointer items-center  overflow-hidden w-[15rem] mx-3">
      <div class="card overflow-hidden w-full  " (click)="openProductDetils('product-details')">

        <a><img [src]="product.imageUrl" [alt]="product.name"
            class="object-cover " />
        </a>

        <div class="p-2 ">
          <h3 class="text-lg font-semibold">{{product.name}}</h3>
          <p class="text-sm text-gray-600">{{product.fabric}}</p>
          <p class="mt-1 text-l font-bold">₹{{product.price}}</p>
        </div>

      </div>
    </div>
  </div>
</div>