<div class="mt-24 space-y-5 px-5 lg:px-20 ">
    <ng-container class="">
        <div class="p-2   box my-5 bg">
            <app-address-card [address]="selectedAddress" showButton="false"/>
        </div>

        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 relative justify-between py-5">
            <div class="col-span-2 ">
              <div class="space-y-3 box   ">
                <div *ngFor="let product of this.cartItems; let last=last" class=" bg">
                    <app-cart-item [item]="product"></app-cart-item>
                    <mat-divider *ngIf="!last"></mat-divider>
                </div>
              </div>
            </div>
            <section class=" col-span-1 px-5 sticky top-0  mt-5 lg:mt-0 bg">
                <ng-container>
                    <div class="box p-5 ">

                        <div class=" p-2 ">
                            <p class="font-bold  pb-1 text-2xl">Price details </p>
                                <p class="font-bold text-blue-500">Total Items: <span>{{cart.totalItem}}</span ></p>
                            <mat-divider/>
                            <div class="space-y-3 font-bold">
                                <div class="flex justify-between pt-3">
                                    <span>Total price</span>
                                    <span class="line-through text-green-700">₹{{cart.totalPrice}}</span>
                                </div>
                                <div class="flex justify-between pt-3">
                                    <span>Discount:</span>
                                    <span class="text-black-400">10%</span>
                                </div>
                                <div class="flex justify-between pt-3">
                                    <span> After Discount Price</span>
                                    <span class="text-black-400">₹{{cart.totalDiscountedPrice}}</span>
                                </div>
                                <div class="flex justify-between pt-3">
                                    <span>Delivery Charges</span>
                                    <span class="text-black-400">₹99</span>
                                </div>
                                <div class="flex justify-between pt-3 font-bold text-blue-600">
                                    <span>Total amount</span>
                                    <span class="">₹{{cart.finalPrice}}</span>
                                </div>
                            </div>
                            
                        </div>
                        
                           
                            
                        <button 
                             
                            style="padding: 1rem;"
                            class="text-lg mt-8 p-28 px-10 w-full "
                            color="accent"
                            (click)="payNow()"
                            mat-raised-button>
                            Payment</button>
                            <button 
                             
                            style="padding: 1rem;"
                            class="text-lg mt-8 p-28 px-10 w-full "
                            color="accent"
                            (click)="navigetToPaymentSuccess('order-details')"
                            mat-raised-button>
                            Cash On Delivery</button>
                    </div>
                </ng-container>
    
            </section>
        </div>
    </ng-container>
</div>
