
.container{
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: #e6e0da;
    
}
.field{
    margin-bottom: 15px;
    cursor: pointer;
}


.bt{
   
 
   align-items: center;
   
    color: rgb(240, 240, 240);
    
    cursor: pointer;
    
}



h1{
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reg{
    color: rgb(79, 79, 147);
}

  
mat-label{
color: #110f0c;
}
  
