<div class="mt-20 bg-indigo-100">

    <h1 class="text-center font-bold  text-black-700 p-4">Shipping & Return Policy</h1>
    <div class="text-xl ml-5  ">
        <p>1. We ship from our head office in Maheshwar, Madhyapradesh.</p>
        <p>2. We use the most reliable courier services to deliver the goods at your door step in India.</p>
        <p>3. Your order will be processed within 48-72 hours after receiving it. The estimated time for delivery within
            India
            is 8-10 days.</p>
        <p>4. As soon as we ship your product, the tracking information will be sent to you via an email.</p>
        <p>5. If the customer is disatisfied with the product delivered then he/she needs to mail us at
            <span class="text-blue-600">maahish.ttm10@gmail.com</span><br>
            within 3 days from the date of receiving the parcel.</p>
        <p class="pb-6">6. Refund will be issued only after we receive back the product. Once approved by our team as eligible return,
            we <br>
            will credit the amount in your account.</p>
    </div>




</div>