// .boxx{
//     background-color: rgb(190, 219, 244);
// }
.bg{
    box-shadow: 0 0 5px 0 rgb(68, 73, 77);
    background-color: rgb(249, 248, 248);
}

.mr-5{
    height: 500px;
    margin-top: 12%;
}