<main class="mt-10">
    <div class=" grid lg:grid-cols-3 grid-cols-1  relative py-5 ">
        <section class="col-span-2 lg:px-5 ">
            <div class="box p-5 space-y-3 lg:mt-10 ">
                <ng-container *ngIf="cart">
                    <div class="bg" *ngFor="let item of cartItems; let last=last">
                        <app-cart-item  showButton="true" [item]="item" (removeItem)="itemRemoved($event)"/>
                        <!-- <mat-divider/> -->
                    </div>
                </ng-container>
            </div>
        </section>

        <section class="col-span-2 lg:px-5 " *ngIf="cartItems.length === 0">
            <div class="box p-5 space-y-3 lg:mt-10" style="height: 350px;">
                Cart is Empty
            </div>
        </section>
        <section class="col-span-1   bg  mr-5 ">
            <ng-container *ngIf="cartItems.length>0">
                <div class=" p-5 ">
                    <p class="font-bold  pb-4">Price details</p>
                    <mat-divider/>
                    <div class="space-y-3 font-bold">
                        <div class="flex justify-between pt-3">
                            <span>Total price</span>
                            <span class="line-through text-green-600">₹{{cart.totalPrice}}</span>
                        </div>
                        <div class="flex justify-between pt-3">
                            <span> After Discount Price</span>
                            <span class="text-black-400">₹{{cart.totalDiscountedPrice}}</span>
                        </div>
                        <div class="flex justify-between pt-3">
                            <span>Delivery Charges</span>
                            <span class="text-black-400">₹99</span>
                        </div>
                        <div class="flex justify-between pt-3">
                            <span>Total amount</span>
                            <span class="text-black-400">₹{{cart.finalPrice}}</span>
                        </div>
                    </div>
                    <button (click)="navigateToCheckout()" 
                        class="text-lg mt-8 p-28 px-10 w-full " color="black" mat-raised-button>
                        Checkout</button>
                </div>
            </ng-container>

        </section>
    </div>
</main>