<div class="flex items-center mt-20 h-screen">
    <div class="h-full w-[20%] border border-gray-200 ">
        <div class="mb-2 mt-10 ">
            <p class="px-10 py-10 font-bold items-center">Dashboard</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center">Products</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center">Orders</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center">Customers</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center">Add New products</p>
            <mat-divider></mat-divider>
        </div>
        
       
    </div>

    <div class="w-[80%] border border-gray-200 ml-2 mr-2">
        <router-outlet/>
    </div>
</div>