<div class="flex items-center mt-20 h-screen">
    <div class="h-full w-[20%] border border-gray-200 cursor-pointer">
        <div class="mb-2 mt-10 ">
            <p class="px-10 py-10 font-bold items-center" (click)="navigateTo('')">Dashboard</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center" (click)="navigateTo('products')">Products</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center" (click)="navigateTo('orders-table')">Orders</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center" (click)="navigateTo('customers')">Customers</p>
            <mat-divider></mat-divider>
        </div>
        <div class="mb-2  ">
            <p class="px-10 py-10 font-bold items-center" (click)="navigateTo('add-products')">Add New products</p>
            <mat-divider></mat-divider>
        </div>
        
       
    </div>

    <div class="w-[80%] h-full overflow-auto border border-gray-200 ml-2 mr-2">
        <router-outlet/>
    </div>
</div>