<div class=" nav-container fixed top-0 z-50 right-0 left-0  px-5 lg:px-20">

    <div class=" nav-content flex h-16 items-center justify-between">

        <div class="flex item-center">
            <div class=" logo ">
                <img class="" src="./assets/MaahishLogo.jpg" alt="Maahish">
            </div>
            <div>
                <div  class=" nav-links flex ">
                    <a routerLink="/" class=" nav-link ">
                        Maahish
                    </a>
                    <div>
                        <button (click)="openNavbarContent('women')" mat-button class="nav-button open-button">Women</button>
                    </div>
                    <div>
                        <button (click)="openNavbarContent('men')" mat-button class="nav-button open-button">Men</button>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="flex item-center ">

        <button (click)="navigateTo('cart')" mat-icon-button class="nav-icon-button">
            <mat-icon>shopping-cart</mat-icon>
        </button>

        <button mat-button class="nav-button">Login</button>
        <button mat-button class="nav-button">SignUp</button>
        <div class=" relative ml-3 flex items-center">
            <div class="flex items-center space-x-5">
                <span class=" user-name font-bold text-lg">Sadhana</span>
                <button  mat-button [matMenuTriggerFor]="profileMenu">
                    <img src="https://th.bing.com/th/id/OIP.tvaMwK3QuFxhTYg4PSNNVAHaHa?rs=1&pid=ImgDetMain" alt="" class="user-avatar">
                </button>
                <mat-menu #profileMenu="matMenu">
                    <button mat-menu-item>Profile</button>
                    <button mat-menu-item>Orders</button>
                    <button mat-menu-item>Logout</button>
                </mat-menu>
            </div> 
        </div>
    </div>
</div>
</div>

<div *ngIf="isNavbarContentOpen" class="model-container">
    <app-nav-content [selectedSection]= "currentSection"/>
</div>