.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
.add-cart{
    // background-color: #fbfafc;
    box-shadow: 0 0 6px 0 rgb(103, 102, 102);
    margin-top: 15px;
    margin-bottom: 15px;
    height: 600px;
}


.bg{
    background-color: rgb(219, 230, 237);
    box-shadow: 0 0 10px 0 rgb(130, 129, 129);
}