<!-- <div class="box hover:scale-105 transition-all duration-500 cursor-pointer
 items-center  overflow-hidden w-[15rem] mx-3">

<div class="h-[15rem] w-[15rem]">

    <img  class="object-cover object" [src]="product.imageUrl" alt="">
</div>


<div class="p-5 ">
    <h3 class="font-medium text-gray-900 ">{{product.fabric}}</h3>
    <p class="mt-2 text-black-500">
        {{product.name}}
    </p>
    <p>{{product.price}}</p>        

</div>
</div> -->
<div class="container flex flex-wrap justify-center">
<div class="box hover:scale-105 transition-all duration-500 cursor-pointer items-center  overflow-hidden w-[15rem] mx-3">
<div class="card overflow-hidden w-full">
    <a [routerLink]="['/product', product.name]">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="h-48 w-full object-cover transition-transform hover:scale-105"
      />
    </a>
    <div class="p-2 ">
      <h3 class="text-lg font-semibold">{{product.name}}</h3>
      <p class="text-sm text-gray-600">{{product.fabric}}</p>
      <p class="mt-1 text-l font-bold">₹{{product.price}}</p>
    </div>
    <!-- <div class="p-4 pt-0">
      <button
        class="w-full rounded-md bg-primary px-4 py-2 text-white"
        (click)="addToCart()"
        [disabled]="!product.inStock"
      >
        {{product.inStock ? 'Add to Cart' : 'Out of Stock'}}
      </button>
    </div> -->
  </div>
</div>
</div>
