

<div class="card-container">
    <div class="flex flex-wrap ">
    <div class="box hover:scale-105 transition-all duration-500 cursor-pointer items-center  overflow-hidden w-[15rem] ml-5  bg">
    <div class="card overflow-hidden w-full" >
       
          <img
            [src]="product.imageUrl"
            [alt]="product.name"
            class=" object-cover "
            (click)="goToDetail()"
            
          />
       
        <div class=" textPart p-1  text-black">
          <p class="text-l ">{{product.name}}</p>
          <!-- <p class="text-s font-semibold">{{product.title}}</p> -->

          <p class=" "><span>Fabric Type:  </span>{{product.fabric}}</p>
          <p class=" "><span>Color:  </span>{{product.color}}</p>
          <p class="  font-bold ">
            <span> ₹{{product.discountedPrice}} </span>
            <span class="text-green-700 line-through">₹{{product.price}} </span>
            
            <span class="pl-3">{{product.discountPersent}}% </span>
          </p>
          <button mat-icon-button (click)="addToWishlist(product.id)" class="">
            <mat-icon  >
              {{ 'favorite_border' }}
            </mat-icon>
           
          </button>



          <!-- <p class="test-sm">{{product.description}}</p> -->
        </div>
       
      </div>
    </div>
    </div>
    </div>
    