
.card{
    // border-radius: 5px;
    overflow: hidden;
   
   

}
// .productCard .textPart{
// transition: tranform 0.3s ease-in-out;
// }
// .productCard:hover .textPart{
//     transform: translateY(-10px);
// }
.card:hover{
    box-shadow: 0 2px 4px rgba(210, 210, 223, 0.7);
}
.card-container{
    margin: 20px 0 20px 0;
}