


<div class="space-y-3 items-center p-2 relative">
    <button
    mat-icon-button
    [matMenuTriggerFor]="addressMenu"
    class="more-options hover:bg-white rounded-full cursor-pointer">
    <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #addressMenu="matMenu">
    <button mat-menu-item>Edit</button>
    <button mat-menu-item (click)="deleteAddress()">Delete</button>
</mat-menu>

    <p class="font-bold text-xl"> {{userDatials.firstName}} <span>{{userDatials.lastName}}</span></p>
    <p class="font-semibold">Delivering to : <span>+91</span>{{address.mobile}}, <span>{{userDatials.email}}</span></p>
    <p class="font-bold text-l">Address Details:</p>
    <p class="font-bold text-gray-600"><span>{{address.streetAddress}}, <span>{{address.city}}, </span></span>{{address.dist}}, <span>{{address.state}}, </span>{{address.zipCode}}, <span>{{address.nation}}</span></p>
   
   
</div>
