// .container {
//     padding: 1.25rem;
//     @media (min-width: 1024px) {
//         padding: 5rem 10rem;
//     }
// }

.title {
    font-size: 1.5rem;
    opacity: 0.75;
    padding-bottom: 1.25rem;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}
.product{
   margin: 30px;
    background-color:rgb(255, 224, 181);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(89, 87, 87, 0.5);
}
