.nav-content {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

.user-name {
    font-weight: bold;
    font-size: 1.125rem;
    /* text-lg */
    color: rgb(16, 16, 16);
}

.logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px;

}


.header-toolbar {
    display: flex;
    align-items: center;
    padding: 0 20px;

    color: #2d2d2d;
    background: linear-gradient(to right, #c8827c, #e6d387, #c7edde, #6886a6);

    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

}



.nav-link {
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
}

.new-badge {
    color: #ff3f6c;
    font-size: 10px;
    font-weight: bold;
}

// .spacer {
//     flex: 1 1 auto;
// }

.search-field {
    background-color: #f5f5f6;
    border-radius: 4px;
    // padding: 0 10px;
    width: 500px;
    height: 50px;
    margin: 5px;
    // margin-right: 50px;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
    color: #2d2d2d;
}

mat-icon {
    font-size: 24px;
}
::ng-deep{
    .mat-mdc-form-field-subscript-wrapper {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        display: none !important;
    }
}

.bg{
    margin: -10px;
    color: rgb(174, 13, 13);
}

