<div class="bg  mt-1 text-center px-5 lg:px-20    ">
    <div class="">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5 cover p-7">


            <div class="col-span-1">About
                <p>about</p>
                <p>about</p>
            </div>
            <div class="col-span-1"> Social Links
                <p>Email: chouhansadhana17@gmail.com</p>
                <p>Instagram: maahishTTM</p>
                <p>Facbook</p>
                <p>Website</p>
                <p>Contact Number: 7470857783</p>
                <p>Chat with Us</p>
            </div>
            <div class="col-span-1"> Admin</div>
            <div class="col-span-1"> Custom Orders</div>
            <!-- <div class="px-4">
                <h1 class="px-5 text-lg font-semibold ">Company</h1>
                <p class="mb-2">About</p>
                <p class="mb-2">Contect</p>
                <p class="mb-2">Links</p>
                <p class="mb-2">About</p>
            </div> -->
        </div>
    </div>
</div>
