
<div class="mt-24  text-center">
    
    <p class="font-bold text-red-400 text-2xl">Support the Handlooms</p>
   <p class="font-bold text-red-400 text-lg"> See the steps involved in weaving handloom sarees</p>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5  p-5 ">
    <div class="col-span-1 ">
        <img src="assets/loom.jpg" alt="" class="card">
    </div>

    <div class="col-span-1 ">
        <img src="assets/About_collenctions/loom4.png" alt="" class="card">
    </div>

    <div class="col-span-1 ">
        <img src="assets/About_collenctions/jodni.png" alt="" class="card">
    </div>

    <div class="col-span-1">
        <img src="assets/About_collenctions/Katla.png" alt="" class="card">
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5  p-5 ">
    <div class="col-span-1 ">
        <img src="assets/About_collenctions/loom2.png" alt="" class="card">
    </div>

    <div class="col-span-1 ">
        <img src="assets/About_collenctions/loom3.png" alt="" class="card">
    </div>

    <div class="col-span-1 ">
        <img src="assets/About_collenctions/tani.png" alt="" class="card">
    </div>

    <div class="col-span-1">
        <img src="assets/About_collenctions/weaving.png" alt="" class="card">
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5  p-5 ">
    <div class="col-span-1 ">
        <img src="assets/About_collenctions/loom10.jpg" alt="" class="card">
    </div>

    <div class="col-span-1 ">
        <img src="assets/About_collenctions/satl.jpg" alt="" class="card">
    </div>

    <div class="col-span-1 ">
        <img src="assets/About_collenctions/kel.jpg" alt="" class="card">
    </div>

    <div class="col-span-1">
        <img src="assets/About_collenctions/img4.jpg" alt="" class="card">
    </div>
</div>
</div>
