// .container {
//     padding: 1.25rem;
//     @media (min-width: 1024px) {
//         padding: 5rem 10rem;
//     }
// }

.title {
    font-size: 1.5rem;
    opacity: 0.75;
    padding-bottom: 1.25rem;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}
