<div class=" contain mb-5">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1 ">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full"
                    src="https://th.bing.com/th/id/OIP.tvaMwK3QuFxhTYg4PSNNVAHaHa?rs=1&pid=ImgDetMain" alt="">
            </div>
        </div>

        <div class="col-span-6 lg:col-span-9  p-5">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Sadhana Chouhan</p>
                    <p class="opacity-70">Date:- 12-5-2025</p>
                </div>
                <div>
                  <app-star-rating/>
                </div>
                <p>review</p>
            </div>

        </div>
    </div>
</div>