<div class="col-span-1 lg:col-span-7 mt-20"> 
<h1 class="items-center p-10 ml-10">{{this.isAdd? 'Add New Products Here...' : 'Edit New Products Here...'}}</h1>
    <div class=" p-5 box">
        <form  >
            <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 ">
                <div class="col-span-1  ">
                    <mat-form-field appearance="fill" class="w-full ">
                        <mat-label>Product Title</mat-label>
                        <input matInput [(ngModel)]="productName" name="productName" placeholder="Title"
                            type="text" required>
                    </mat-form-field>
                </div>

                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Image URL</mat-label>
                        <input matInput [(ngModel)]="productImageUrl" name="productImageUrl" placeholder="Image URL"
                            type="text" required>
                    </mat-form-field>
                </div>

                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Fabric Type</mat-label>
                        <input matInput [(ngModel)]="fabricType" name="fabricType" placeholder="Fabric Type"
                            type="text" required>
                    </mat-form-field>
                </div>

                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Color</mat-label>
                        <input matInput [(ngModel)]="color" name="color" placeholder="Color"
                            type="text" required>
                    </mat-form-field>
                </div>

                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Price</mat-label>
                        <input matInput [(ngModel)]="productPrice" name="productPrice" placeholder="Price"
                            type="number" required>
                    </mat-form-field>
                </div>

                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Discounted Price</mat-label>
                        <input matInput [(ngModel)]=" discountedPrice" name=" discountedPrice" placeholder="Discounted Price"
                            type="number" required>
                    </mat-form-field>
                </div>

                
                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Quantity</mat-label>
                        <input matInput [(ngModel)]=" productQuantity" name=" productQuantity" placeholder="Quantity"
                            type="number" required>
                    </mat-form-field>
                </div>

                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="productCategory" name="productCategory">
                            <mat-option value="sarees">Sarees</mat-option>
                            <mat-option value="suit-materials">Suit Materials</mat-option>
                            <mat-option value="scarfs">Scarfs</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-span-2 ">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Description</mat-label>
                        <textarea matInput [(ngModel)]="productDescription" name="productDescription" placeholder="Description"
                             type="text" rows="4" required></textarea>
                    </mat-form-field>
                </div>

          
                <div class="col-span-1 ">
                    <mat-form-field appearance="fill" class="w-full  ">
                        <mat-label>Length</mat-label>
                        <input matInput [(ngModel)]="length" name="length" placeholder="Length in Meter"
                            type="text" required>
                    </mat-form-field>
                </div>
                


            </div>


            <div class="col-span-2 mt-10 ">
                <button class="w-full" style="padding: 1.6rem"  type="submit"
                    mat-raised-button (click)="addProduct()">{{isAdd? 'Add Product': 'Update Product'}}</button>
            </div>
        </form>
    </div>
</div> 