/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
//    background: linear-gradient(to right , #ADB2D460 ,#C7D9DD70 , #D5E5D580 60%);
background-color: white;
    color: rgb(10, 9, 9);
    
}
box{
    box-shadow: rgb(186, 188, 244) 0px 5px 15px;
    padding: 15px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
