


.p-4{
    box-shadow: 0 0 8px 0 rgb(68, 73, 77);
    margin: 10px;
    
}
.btn{
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-bottom: 10px;
}
