<section class="relative flex flex-col  text-center ">
    <app-video />
    <!-- Introduction -->
    <div class="intro  shadow-md  ">


    </div>

    <div class=" p-4 bg-indigo-100">

        <h2 class="text-2xl font-bold text-green-900 ">About The Maheshwar.....</h2>

        <div class="text-black-700 text-xl p-6 ">
            <p class="text-red-600">

                Our mission is to bring the elegance of Maheshwari handloom to the world while supporting traditional
                artisans.
                <br>
                Every piece we create is woven with heritage and craftsmanship.
            </p>

            <p> Maheshwar is a town, near Khargone city in Khargone district of Madhya Pradesh state, in central India.
                It
                is located on State Highway-38 (Khargone city-Barwaha- Bandheri Highway),13.5 km east of National
                Highway 3
                (Agra-Mumbai highway) and 91 km from Indore, the commercial capital of the state. The Town lies on the
                north
                bank of the Narmada River. It was the kingdom of Chaktavartin Samrat Sahastraarjun, Kartavirya Arjuna a
                Heheya king. Lately, after many years, it was the capital of the Malwa during the Maratha Holkar reign
                till
                6 January 1818, when the capital was shifted to Indore by Malhar Rao Holkar III.
            </p>
        </div>

    </div>

    <div class=" p-4 bg-indigo-100">

        <h2 class="text-2xl font-bold text-green-900 "> The Weaving Process.....</h2>

        <div class="text-black-700 text-xl p-6 ">


            <p>
                Maheshwari handloom sarees are a true reflection of tradition and craftsmanship.
                The process starts with carefully choosing the best silk and cotton threads,
                which are then dyed by hand using age-old techniques.
                Skilled weavers bring the fabric to life, working with precision and care.
                The shuttle moves smoothly through the loom, creating elegant patterns that carry the legacy of
                generations. Every saree is woven with dedication, keeping the rich heritage alive.
            </p>
        </div>

    </div>

    <div class=" p-4 bg-indigo-100">

        <h2 class="text-2xl font-bold text-green-900 "> Handloom Sarees of Madhya Pradesh</h2>

        <div class="text-black-700 text-xl p-6 ">


            <p>
                Madhya Pradesh, known as the "heart of India," has a rich tradition of handloom weaving. The state is
                renowned for its exquisite handloom sarees,
                especially the Maheshwari sarees. Maheshwari sarees originated in the town of Maheshwar, located on the
                banks of the Narmada River. These sarees are characterized by their unique designs, vibrant colors, and
                lightweight fabric.

                The weavers of Madhya Pradesh have mastered the art of weaving intricate motifs and patterns, inspired
                by nature, temples, and geometric shapes. The use of pure silk and cotton yarns adds to the elegance and
                comfort of these sarees. The Maheshwari sarees are known for their distinctive pallu, which features
                reversible borders and a striking combination of colors.
            </p>
        </div>

    </div>



    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5  p-5 ">
        <div class="col-span-1 ">
            <img src="assets/About_collenctions/fort1.png" alt="" class="card">
        </div>
    
        <div class="col-span-1 ">
            <img src="assets/About_collenctions/fort2.png" alt="" class="card mb-5">
            <img src="assets/About_collenctions/fort6.png" alt="" class="card">

        </div>
    
        <div class="col-span-1 ">
            <img src="assets/About_collenctions/fort3.png" alt="" class="card mb-5">
            <img src="assets/About_collenctions/fort4.png" alt="" class="card">
    

        </div>
    
        <div class="col-span-1">
            <img src="assets/About_collenctions/maheshwar_fort.png" alt="" class="card mb-5">
            <img src="assets/About_collenctions/fort5.png" alt="" class="card">

        </div>
    </div>








    <a (click)="navigateTo('')" class="mt-8 bg-indigo-400 text-black p-2  text-lg hover:bg-indigo-700  cursor-pointer btn">
        Explore Our Collection
    </a>

</section>