<section class="relative flex flex-col  text-center bg-red-100 ">
    <app-video />
    <!-- Introduction -->
    <div class="intro  shadow-md  ">


    </div>

    <div class=" p-4 bg-indigo-100">

        <h2 class="text-2xl font-bold text-green-900 ">About The Maheshwar.....</h2>

        <div class="text-black-700 text-xl p-6 ">
            <p class="text-red-600">

                Our mission is to bring the elegance of Maheshwari handloom to the world while supporting traditional
                artisans.
                <br>
                Every piece we create is woven with heritage and craftsmanship.
            </p>
            
            <p> Maheshwar is a town, near Khargone city in Khargone district of Madhya Pradesh state, in central India. It
                is located on State Highway-38 (Khargone city-Barwaha- Bandheri Highway),13.5 km east of National Highway 3
                (Agra-Mumbai highway) and 91 km from Indore, the commercial capital of the state. The Town lies on the north
                bank of the Narmada River. It was the kingdom of Chaktavartin Samrat Sahastraarjun, Kartavirya Arjuna a
                Heheya king. Lately, after many years, it was the capital of the Malwa during the Maratha Holkar reign till
                6 January 1818, when the capital was shifted to Indore by Malhar Rao Holkar III.
            </p>
        </div>
        
    </div>

<!-- Image Gallery for History -->
<app-about-card/>
<app-about-card/>


   




    

    <a (click)="navigateTo('')"
class="mt-8 bg-indigo-400 text-black p-2  text-lg hover:bg-indigo-700  cursor-pointer ">
Explore Our Collection
</a>
   
</section>

